{
  "layout" : false
}

!!!
%html
  %head
    %title Overnight Success
    %meta{ "http-equiv" => "Content-Type", content: "text/html;charset=utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheets.load("application.css")
    = stylesheets.load("//fonts.googleapis.com/css?family=Nunito:300")
    :css
      body {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size:15px;
      }
      #description div {
        font-family: 'Nunito', sans-serif;
      }
    = javascripts.load("offline/d3.v3.min.js")
    - if env == "production"
    - else
      = javascripts.load("offline/stacktrace.js")
  %body.visualizer
    :plain
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="display:none">

        <svg id="watch" viewBox="0 0 32 32">
          <path d="M22.944,28.681c-0.42,0-0.836-0.133-1.189-0.393l-5.75-4.247l-5.751,4.247c-0.354,0.26-0.771,0.393-1.189,0.393  c-0.412,0-0.824-0.129-1.175-0.385c-0.707-0.511-1-1.422-0.723-2.25l2.26-6.783l-5.815-4.158c-0.71-0.509-1.009-1.416-0.74-2.246  c0.268-0.825,1.037-1.382,1.904-1.382c0.004,0,0.01,0,0.014,0l7.15,0.057l2.157-6.816c0.262-0.831,1.035-1.397,1.906-1.397  s1.645,0.566,1.905,1.397l2.156,6.816l7.146-0.057c0.004,0,0.015,0,0.019,0c0.863,0,1.637,0.557,1.899,1.382  c0.271,0.831-0.024,1.737-0.735,2.246l-5.812,4.158l2.263,6.783c0.273,0.826-0.02,1.737-0.721,2.25  C23.771,28.552,23.356,28.681,22.944,28.681L22.944,28.681z"/>
        </svg>
        <svg id="repo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-44.962 0.537 250 250" enable-background="new -44.962 0.537 250 250" xml:space="preserve">
          <path d="M126.795,249.872l-5.068-6.189l26.459-21.67l3.933-0.654c2.383,0.891,4.517,0.809,6.008-0.227  c1.556-1.08,2.412-3.164,2.412-5.869v-145c0-6.626-5.137-14.141-11.217-16.408l-0.146-0.059L39.823,8.012  c-8.66-0.255-17.459,3.097-23.702,9.031C10.884,22.02,8,28.378,8,34.947v4H0v-4c0-8.783,3.768-17.201,10.609-23.703  C18.576,3.673,29.911-0.513,40.907,0.05l1.342,0.305l109.947,46.033c9.17,3.467,16.342,13.936,16.342,23.875v145  c0,5.326-2.132,9.859-5.85,12.441c-3.078,2.135-7.019,2.771-11.074,1.84L126.795,249.872z"/>
          <path d="M1.038,38.491v145c0,8.08,6.053,16.912,13.493,19.688l105.042,46.072c1.457,0.543,2.91,0.824,4.293,0.824  c5.277,0,8.823-4.104,8.823-10.209v-145c0-8.08-6.053-16.912-13.492-19.688l-9.267-4.064c-1.756,1.523-4.893,5.444-4.893,14.093v56  l-18-25.25l-13.25,11.25c0,0-0.169-34.875-0.044-50.25c-0.037-10.146,1.992-16.831,5.298-19.391L14.155,29.104  c-1.457-0.543-2.91-0.823-4.293-0.823C4.584,28.281,1.038,32.384,1.038,38.491z"/>
          <path d="M4.475,29.498C2.76,30.81,1.495,32.787,0.91,35.272C1.715,33.491,3.003,31.483,4.475,29.498z"/>
        </svg>
        <svg id="fork" viewBox="0 0 32 32">
          <path d="M3.5 0c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5zm11 5c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5zm-12.5 2.719v16.563c.476-.176.975-.281 1.5-.281.534 0 1.027.114 1.5.281v-1.094c0-.2.417-.885.906-1.063l.031-.031h.031l7.281-3c.015-.006.017-.025.031-.031.854-.353 1.488-.953 1.969-1.656.489-.716.844-1.541.844-2.5v-2.219c-.502.198-1.035.313-1.594.313-.499 0-.959-.103-1.406-.25v2.156c0 .141-.101.503-.313.813-.211.309-.501.544-.625.594h-.031l-7.125 2.906v-11.5c-.473.168-.966.281-1.5.281-.525 0-1.024-.105-1.5-.281zm1.5 17.281c-1.933 0-3.5 1.567-3.5 3.5s1.567 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.567-3.5-3.5-3.5z"
          transform="translate(7)" />
        </svg>

        <svg id="follow" viewBox="0 0 100 100">
          <path d="M93.434,38.243H80.562V25.369c0-3.598-2.919-6.516-6.517-6.516c-3.599,0-6.516,2.917-6.516,6.516v12.874   H54.656c-3.597,0-6.515,2.917-6.515,6.516c0,3.598,2.918,6.517,6.515,6.517H67.53v12.871c0,3.598,2.917,6.516,6.516,6.516   c3.598,0,6.517-2.918,6.517-6.516V51.276h12.871c3.6,0,6.517-2.919,6.517-6.517C99.95,41.16,97.033,38.243,93.434,38.243z"/>
          <path d="M66.191,67.192c-5.64,8.828-15.519,14.687-26.771,14.687c-17.539,0-31.755-14.218-31.755-31.755h40.491   c-1.207-1.458-1.933-3.328-1.933-5.365c0-4.65,3.784-8.433,8.432-8.433h10.957V25.369c0-1.381,0.34-2.682,0.932-3.833   c-7.067-6.708-16.612-10.831-27.124-10.831C17.649,10.705,0,28.354,0,50.124c0,21.771,17.649,39.421,39.421,39.421   c13.54,0,25.481-6.829,32.579-17.228C69.336,71.65,67.174,69.718,66.191,67.192z"/>
          <circle cx="28.108" cy="57.534" r="5.111"/>
          <circle cx="50.732" cy="57.534" r="5.111"/>
        </svg>
      </svg>

    #date
    = javascripts.load("application.js")

